body{
  background-color: #f5faf9;
  margin: 0;
  padding: 0;
  overflow: auto;
  height: 100%;
  main{
    position: absolute;
    padding: 0;
    margin: 0;
    width: 100%;
    min-height: 100%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    background-color: #ffffff;
    margin: 0;
    padding: 0;
    overflow: auto;
    background-image: linear-gradient(to bottom, #e3e5e5 0, rgba(227, 229, 229, 1) 3rem, rgba(227, 229, 229, 0) 6rem), url(./images/banner_left.svg), url('./images/banner_right.svg');
    background-position: 0 0, left top, right top;
    background-repeat: no-repeat, repeat-y, repeat-y;
  }
  p{
    margin: 0;
  }
  header{
    width: 100%;
    flex: 0 0;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background-color: #ffffff;
    padding: 1rem 2rem;
    box-sizing: border-box;
    height: 5.5rem;
    background-size: 198px 33px;
    background-image: url("./images/fresh-report.svg");
    background-repeat: no-repeat;
    background-origin: content-box;
    background-position: left center;
  }
}


.report{
  &__wrap{
    width: 80%;
    margin: 0 auto;
  }
  &__list{
    color: #333;
    padding: 0;
    list-style: none;
    margin: 0 -1.5rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
  }
  &__title{
    font-family: 'Lato', sans-serif;
    font-size: 1rem;
    color: #333;
    font-weight: bold;
    text-transform: uppercase;
    margin: 0.7rem 0;
  }
}
